@page "/LongTerm/submittedlist"
@using Agent_and_BDS_Portal.Data
@using Agent_and_BDS_Portal.Model
@inject CGL_CreditDebit_Services creditdebitServices
<h3><strong>SUBMITTED</strong></h3>


<div class="container mt-0">
	<!-- Unified Border -->
	<div class="border p-4" style="background-color: #ffff;">
		<h3 class="text-center font-weight-bold"><strong>LONG TERM</strong></h3>

		<!-- Search Bar -->
		<label class="font-weight-bold">Search:</label>
		<input class="form-control" placeholder="Search...">

		<!-- Table -->
		<div class="mt-4 table-responsive">
			<table class="table table-bordered">
				<thead style="background-color: #77B254;">
					<tr>
						<th style="color:white;">Submitted Date</th>
						<th style="color:white;">DCHS From</th>
						<th style="color:white;">DCHS To</th>

						<th style="color:white;">Total Application</th>
						<th style="color:white;">Particular</th>
						<th style="color:white;">Application</th>
						<th style="color:white;">Receipt</th>
					</tr>
				</thead>
				<tbody>
					@if (SubObj == null || !SubObj.Any())
					{
						<tr>
							<td colspan="10" class="text-center">No records found.</td>
						</tr>
					}
					@foreach (var creditdebit in SubObj)
					{
						<tr>
							<td>@creditdebit.Submitted_Date.ToString("MM/dd/yyyy")</td>
							<td>@creditdebit.DCHS_From</td>
							<td>@creditdebit.DCHS_To</td>
							<td>@creditdebit.Total_Application</td>

							<td><a class="btn btn-outline-success btn-sm" href="Cgl_EditAccount">View Details</a></td>
							<td><a class="btn btn-outline-success btn-sm" href="application">Application Details</a></td>
							<td><a class="btn btn-outline-success btn-sm" href="Cgl_EditAccount">View Details</a></td>
						</tr>
					}

				</tbody>
			</table>
		</div>
	</div>
</div>


@code {
	private List<CGL_CreditDebit>? SubObj = new List<CGL_CreditDebit>();

	private string SelectedType { get; set; } = string.Empty;
	
	protected override async Task OnInitializedAsync()
	{
		var result = await creditdebitServices.GetAllCGL_CreditDebitAsync();
		SubObj = result ?? new List<CGL_CreditDebit>();
		//SubObj = result.Where(x => string.Equals(x.Type, "Long Term", StringComparison.OrdinalIgnoreCase)).ToList();

	}
	
	private void HandleTypeChange(ChangeEventArgs e)
	{
		SelectedType = e.Value.ToString();
		
		Console.WriteLine($"Selected Type: {SelectedType}");
	}

}
