@page "/LongTerm/Lcompliance"

	<h3><Strong>COMPLIANCE</Strong></h3>

<div class="container mt-0">
	<!-- Unified Border -->
	<div class="border p-4" style="background-color: #eaf5e5;">
		<h3><Strong><center>LONG TERM</center></Strong></h3>
		<br />
		<Label><Strong>Search:</Strong></Label>
		<input class="form-control" id="myInput" type="text" placeholder="Search..">
		<br>
		<!-- Table -->
		<div class="mt-4 table-responsive">
			<table class="table table-bordered">
				<thead style="background-color: #77B254 !important;">
					<tr>
						<th style="color:white;">Application ID</th>
						<th style="color:white;">Applicant Name</th>
						<th style="color:white;">Policy Type</th>
						<th style="color:white;">Compliance Status</th>
						<th style="color:white;">Submission Date</th>
						<th style="color:white;">Review Date</th>
						<th style="color:white;">Document Status</th>
						<th style="color:white;">Action</th>
						
					</tr>
				</thead>
				<tbody>

					<tr>
						<td>111111</td>
						<td>Angelyne</td>
						<td>Long term</td>
						<td>For Medical</td>
						<td>2025/02/3</td>
						<td>2025/02/3</td>
						<td>Incomplete</td>
						<td>
							<a class="btn btn-primary btn-sm">Application Details</a>
						</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
</div>

@code {

}
