<h3>Commision</h3>

<div class="container mt-5">
	<div class="row">
		<!-- Client (Bank) -->
		<div class="col-xs-4 col-lg-3">
			<div class="card text-white bg-primary mb-3" style="border-radius: 9px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
				<div class="card-body text-center">

					<a href="/summaryreport" class="text-white"><h1>@Client</h1></a>
					<p>Client</p>
				</div>
				<div class="card-footer">
					<a href="#" class="text-white">More info</a>
				</div>
			</div>
		</div>

		<!-- BDS (Agent) -->
		<div class="col-xs-4 col-lg-3">
			<div class="card text-white bg-primary mb-3" style="border-radius: 9px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
				<div class="card-body text-center">

					<h1>@BDS</h1>
					<p>BDS</p>
				</div>
				<div class="card-footer">
					<a href="#" class="text-white">More info</a>
				</div>
			</div>
		</div>
		</div>
			</div>
	
		@code{
			private int Client = 44;
			private int BDS = 65;
		}
