@page "/compliance"
<h3>Compliance</h3>
<div class="container mt-0">
	<!-- Unified Border -->
	<div class="border p-4" style="background-color: #eaf5e5;">
		<img src="images/ck_logo.png" alt="CK Logo" class="img-fluid" style="max-height: 50px; display: block; margin-left: auto; margin-right: auto;" />
		<br />
		<Label><Strong>Search:</Strong></Label>
		<div class="col-md-8 mb-3 mb-md-0">
			<input class="form-control" id="myInput" type="text" placeholder="Search..">
		</div>
		<br>

		<!-- Table -->
		<div class="mt-4 table-responsive">
			<table class="table table-bordered">
				<thead style="background-color: #54A6F9 !important;">
					<tr>
						<th style="color:white;">DCHS</th>
						<th style="color:white;">Remarks</th>
						<th style="color:white;">Date</th>
						<th style="color:white;">Action</th>
					</tr>
				</thead>
				<tbody>

					<tr>
						<td>111111</td>
						<td>Indured</td>
						<td>2025/01/8</td>
						<td>
							<a class="btn btn-primary btn-sm">Application Details</a>
						</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
</div>

@code {

}
