@page "/"
@using Agent_and_BDS_Portal.Data
@* @inherits LayoutComponentBase *@
@inject NavigationManager NavigationManager

<div class="login-container">
    <div class="left-side">
        <div class="wave"></div>
    </div>
    
    <div class="right-side">
        <img src="images/ck_logo.png" alt="CK Logo" class="logo" style="">
        <div class="login-box">
            <h2 style="color:#064635;">L O G I N</h2>

            <EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
                <label for="password"><strong>Email</strong></label>
                <InputText id="email" class="form-control" @bind-Value="loginModel.Username" placeholder="Email" />
                <br />
                <label for="password"><strong>Password</strong></label>
                <InputText id="password" class="form-control" type="password" @bind-Value="loginModel.Password" placeholder="Password" />

                <div class="forgot-password">
                    <a href="#">Forgot your password?</a>
                </div>

                <button type="submit" class="btn btn-success">Log In</button>
            </EditForm>
           
        </div>

    </div>
</div>


@code {
    private LoginModel loginModel = new();

    private void HandleLogin()
    {
        NavigationManager.NavigateTo("/lineofbusiness");
    }

    public class LoginModel
    {
        public string Username { get; set; } = string.Empty;
        public string Password { get; set; } = string.Empty;
    }
}
