@page "/visitation"

<h3>Visitation</h3>


<div class="container mt-5">
    <div class="row">
        <!-- CONTACT -->
                <div class="col-xs-4 col-sm-4 col-lg-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <a href="/submitted" class="text-white"> <h1>@CONTACTS</h1></a>
                    <p>Contacts</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="text-white">More info</a>
                </div>
            </div>
        </div>

        <!-- ITINERARY -->
        <div class="col-xs-4 col-sm-4 col-lg-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <h1>@ITINERARY</h1>
                    <p>Itinerary</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="text-white">More info</a>
                </div>
            </div>
        </div>

        <!-- VISITATION REPORT -->
        <div class="col-xs-4 col-sm-4 col-lg-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <h1>@VISITATIONREPORT</h1>
                    <p>Visitation Report</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="text-white">More info</a>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    private int CONTACTS = 150;
    private int ITINERARY = 53;
    private int VISITATIONREPORT = 44;
    
}

