@page "/ShortTerm/Scompliance"
<h3><Strong>COMPLIANCE</Strong></h3>
<div class="container mt-0">
	<!-- Unified Border -->
	<div class="border p-4" style="background-color: #eaf5e5;">
		<h3><Strong><center>SHORT TERM</center></Strong></h3>
		<br />
		<Label><Strong>Search:</Strong></Label>
		<input class="form-control" id="myInput" type="text" placeholder="Search..">
		<br>
		<!-- Table -->
		<div class="mt-4 table-responsive">
			<table class="table table-bordered">
				<thead style="background-color: #77B254 !important;">
					<tr>
						<th style="color:white;">DCHS</th>
						<th style="color:white;">Remarks</th>
						<th style="color:white;">Date</th>
						<th style="color:white;">Action</th>
					</tr>
				</thead>
				<tbody>

					<tr>
						<td>111111</td>
						<td>Indured</td>
						<td>2025/01/8</td>
						<td>
							<a class="btn btn-primary btn-sm">Application Details</a>
						</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
</div>

@code {

}
